* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    section {
        h1 {
            font-size: 5rem;
            text-align: center;
        }
     }
}

